.slider {
	position: relative;
}

.slider__inner {
	position: relative;
}

.slider__img-wrapper {
	width: 100%;
}

.slider__img {
	width: 100%;
}

.slider__controls {
	margin: 0 40px 0;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 1000;
}

.slider__content {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 1000;
	justify-content: center;
}

.slider__info {
	padding-bottom: 41px;
	max-width: 934px;
	text-align: center;
	align-self: flex-end;
}

.slider__subtitle {
	justify-content: center;
}

.slider__subtitle::after {
	content: '';

	margin-left: 32px;
	display: inline-block;
	width: 72px;
	height: 2px;
	background-color: var(--golden-color);
}

.slider__btn-main {
	justify-content: center;
}

.slider__icon {
	width: 30px;
	height: 30px;
}

.hidden {
	display: none;
}